name: CI/CD Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  # Build backend
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Debug secrets
        run: |
          echo "Username length: ${#DOCKERHUB_USERNAME}"
          echo "Token length: ${#DOCKERHUB_TOKEN}"
          echo "Secret length: ${#SECRET}"
          echo "Secret: ${{ secrets.SECRET }}"
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          SECRET: ${{ secrets }}
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          platforms: linux/amd64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nehes-backend:latest

  # Build frontend
  # build-frontend:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3
  #     - name: Login to DockerHub
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}
  #     - name: Build and push frontend image
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: ./frontend
  #         push: true
  #         platforms: linux/amd64
  #         tags: ${{ secrets.DOCKERHUB_USERNAME }}/nehes-frontend:latest

  # # Deploy backend
  # deploy-backend:
  #   needs: build-backend
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Deploy to Render
  #       run: |
  #         curl -X POST "https://api.render.com/deploy/srv-${{ secrets.RENDER_BACKEND_SERVICE_ID }}" \
  #           -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
  #           -H "Content-Type: application/json" \
  #           -d '{}'

  # Deploy frontend
  # deploy-frontend:
  #   needs: build-frontend
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Deploy Frontend to Render
  #       run: |
  #         curl -X POST "https://api.render.com/v1/services/${{ secrets.RENDER_FRONTEND_SERVICE_ID }}/deploys" \
  #           -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
  #           -H "Content-Type: application/json" \
  #           -d '{}'
#   # Notify in gmail
#   notify:
#     needs: [deploy-backend]
#     runs-on: ubuntu-latest
#     steps:
#       - name: Send email notification
#         uses: dawidd6/action-send-mail@v3
#         with:
#           server_address: ${{ secrets.SMTP_SERVER }}
#           server_port: ${{ secrets.SMTP_PORT }}
#           username: ${{ secrets.SMTP_USERNAME }}
#           password: ${{ secrets.SMTP_PASSWORD }}
#           subject: "Production Deployment Complete"
#           to: shay.bushary@twosteps.ai
#           from: ${{ secrets.SMTP_FROM }}
#           body: |
#             Production deployment complete!
#             Backend (Render) and Frontend (Vercel) are live.
